.posts {
  margin: auto;
  width: 45%;
  margin-top: 2.5em;
  padding: 1em;
  float: left;
}

.profile {
  float: left;
  width: 30%;
  margin-top: 2.5em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
}

.new-post {
  margin: auto;
  width: 45%;
  margin-top: 2.5em;
  padding: 1em;
  float: left;
}
